<!-- Footer -->


<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Customer Service</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">Call us</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Warranty</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Returns</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Privacy policy</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">About us</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Projects</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Blog</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Awards</a>
            </p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p><i class="fas fa-home mr-0"></i>London, W10 6LR, UK</p>
          </li>
          <li>
            <p><i class="fas fa-envelope mr-0"></i>Vaperooro@gmail.com</p>
          </li>
          <li>
            <p><i class="fas fa-phone mr-0"></i>01946362663</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://vaperooroo.herokuapp.com/"> Vaperooroo.com</a>
  </div>
  <!-- Copyright -->

</footer>


<!-- Footer -->
