<!-- Jambotron -->


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Vape all day long</h1>
    <p class="lead">Quality products free UK delivery</p>
  </div>
</div>
