<!-- Jambotron -->


<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4 text-center text-secondary">Vape all day long</h1>
    <p class="lead text-center text-secondary">Quality products free UK delivery</p>
  </div>
</div>
