<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
  <div class="container">
       <a class="text-uppercase navbar-brand d-inline-block" href="/">Vaperooroo</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/news">News</a>
          <a class="nav-item nav-link" href="/products">Products</a>
          <a class="nav-item nav-link" href="/contact">Contact</a>
      </div>
         <form class="form-inline">
            <input class="form-control mt-2 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0 mr-5" type="submit">Go</button>
         </form>
         <a class="navbar-brand" href="/checkout">
          <i class="fas fa-fw fa-shopping-cart"></i>
        </a>
       <a class="btn btn-outline-light" href="/signin">Sign up</a>
    </div><!-- collapse -->
  </div><!-- container -->
</nav>

<!-- End Of Navigation -->
