please do your html course exercise here, drop your tags and everything

<button type="button" class="btn btn-danger">Jon is a broski</button>

<div class="alert alert-primary" role="alert">
  Jon is making that Vaperooroo real!
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Buy Vaperooroo</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
