{{>jumbotron}}
<div class="container-fluid">
    <div class="row">
        {{>product-listing name='SMOK Nord' price='£40' rating=0 image1='https://www.electrictobacconist.com/images/smok-nord-p5831-15919_image.jpg' image2='https://www.theelectroniccigarette.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/m/smok-nord-vape-pod-full-black_1.jpg'}}
        {{>product-listing name='Innokin Endura T18 II' price='£60' rating=5 image1='https://www.theelectroniccigarette.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/i/n/innokin-endure-t18-ii-ecig-kit-colour-swatches_1.jpg' image2='https://www.totalvapour.co.uk/wp-content/uploads/2019/09/innokin-endura-t18-ii-mini-kit_8-1.jpg'}}
        {{>product-listing name='Aspire Zelos Kit' price='£40' rating=4 image1='https://www.theelectroniccigarette.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/s/aspire-zelos-2.0-ecig-kit-swatches_1.jpg' image2='https://www.theelectroniccigarette.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/s/aspire-zelos-50w-e-cig-kit-swatches_1.jpg'}}
        {{>product-listing name='V2 Pro Series 3' price='£50' rating=5 image1='https://cdn11.bigcommerce.com/s-1h049t/images/stencil/1280x1280/products/78/852/vapour2-pro-series-3-all-colours-1280x1280__79090.1495185247.jpg?c=2?imbypass=on&imbypass=on' image2='https://cdn11.bigcommerce.com/s-5ce4b/images/stencil/1280x1280/products/112/3114/EX-Blanks-mock-__40779.1553776284.jpg?c=2&imbypass=on'}}
    </div>
</div>
<hr>
